[Unit]
Description=picowl Wayland compositor
After=systemd-user-sessions.service seatd.service
Wants=seatd.service
Conflicts=getty@tty1.service
After=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/picowl
Restart=on-failure
RestartSec=3
PAMName=login
SupplementaryGroups=video
TTYPath=/dev/tty1
StandardInput=tty
UtmpIdentifier=tty1
UtmpMode=user

[Install]
WantedBy=graphical.target
